.carousel{
    width: 100%;
    background-color: #2F2F2F;
}

.img{
    display: block; /* Para remover o espaço extra por padrão em torno da imagem */
    margin: auto; /* Centraliza horizontalmente */

             
  }