/* components/Navbar.css */
.navbar {
  color: #fff;
  display: flex;
  justify-content: space-around; 
  padding: 1em; 
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item{
  margin-right: 5em;
  align-items: center;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #007bff9d;
  text-decoration: none;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-menu li {
  margin-right: 0; /* Remova a margem direita do item do menu dropdown */
}

.dropdown-menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #555;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 5px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}

.search button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
