.container{
  background-color: aqua;
  display: flex;
  width: 100vw;
}
.home_container {
    background-color: #ce2929;
    width: 50vw;
    height: 100vh;
    padding: 4em;
    align-content: center;
    display: grid;
  
  }
 
  .carousel{
    background-color: rgb(255, 0, 212);
    display: flex;
    width: 50vw;
    height: 100vh;
 
  }
 
  .home_carousel{
    width: 50vw;
    height: 50VH;
    background-color: #3437ca;   
  }
 
  .home_card{
    width: 50vw;
    height: 50vh;  
    background-color: #33ff77;
    display: grid;
    
  }
 
  .home_container h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #ffffff;
  }
 
  .home_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    text-align: center;
   
  }
 
  .home_container p {
    margin-bottom: 1.5em;
    color: #ffffff;
    margin: auto;
  }
 
  .home_container img {
    width: 350px;
    margin: 2em 0;
  }
 
 
 
  .imgcarousel{
  display: block; /* Para remover o espaço extra por padrão em torno da imagem */
  margin: auto; /* Centraliza horizontalmente */

           
}