.container{
  background-color: #2F2F2F;
  width: 99vw;
  height: 65vh;
  display: flex;
}

.home_container {
    background-color: #2F2F2F;
    width: 50vw;
    height: 70vh;
    padding: 4em;
    align-content: center;
    display: grid;
  }
 
  .carousel{
    background-color: #2F2F2F;
    display: flex;
    width: 50vw;
    height: 30vw;
  }
 
  .home_carousel{
    width: 50vw;
    height: 50VH;
    background-color: #2F2F2F;   
  }
 
  .home_card{
    width: 100vw;
    height: 67vh;
    background-color: #2F2F2F;
    display: flex; /* Alteração para flex */
    margin-left: 10em;
  }

 
  .home_container h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #ffffff;
  }

 

  .home_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    text-align: center;
  }

 
  .home_container p {
    color:  #ffffff;
    align-content: center;
  }

 
  .home_container img {
    width: 350px;
    padding: 1em;
    align-content: center;
    margin-bottom: 0 em;
    margin-left: 4em;
  }

