.container{
  background-color: #2F2F2F;
  display: flex;
  width: 100vw;
}
.home_container {
    background-color: #2F2F2F;
    width: 50vw;
    height: 100vh;
    padding: 4em;
    align-content: center;
    display: grid;
  
  }
 
  .carousel{
    background-color: #2F2F2F;
    display: flex;
    width: 50vw;
    height: 100vh;
    
 
  }
 
  .home_carousel{
    width: 40vw;
    height: 50VH;
    background-color: #2F2F2F;   
  }
 
  .home_card{
    width: 50vw;
    height: 50vh;
    background-color: #2F2F2F;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
    justify-items: stretch;
    
  }
 
  .home_container h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #ffffff;
  }
 
  .home_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    text-align: center;
   
  }
 
  .home_container p {
    margin-bottom: 1.5em;
    color: #ffffff;
    margin: auto;
  }
 
  .home_container img {
    width: 350px;
    margin: 2em 0;
  }
 
 
 
  .img{
  display: block; /* Para remover o espaço extra por padrão em torno da imagem */
  margin: auto; /* Centraliza horizontalmente */

           
}